/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 
               -5px -5px 15px rgba(255, 255, 255, 0.7);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    background-color: #002244;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 
               -5px -5px 15px rgba(255, 255, 255, 0.7);
}

header h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Adjusting the size responsively */
    text-align: center;
    letter-spacing: 3px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

nav a {
    flex: 1;
    text-align: center;
    color: #fff;
    margin: 3px 2px; /* Reduced margin */
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px; /* Adjusted padding */
    font-size: clamp(0.8rem, 3vw, 1.2rem); /* Adjusting the font size responsively */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), 
               -3px -3px 10px rgba(255, 255, 255, 0.7);
}

nav a:hover {
    color: #007BFF;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), 
                inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}

.container a {
    color: #007BFF;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.container a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    background-color: #002244;
    color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 
               -5px -5px 15px rgba(255, 255, 255, 0.7);
}

/* Media Queries for larger screens */
@media only screen and (min-width: 768px) {
    header h1 {
        font-size: 4rem;
        letter-spacing: 5px; 
    }

    nav a {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 1.2rem; /* Default font size for larger screens */
    }

    footer {
        margin-top: 50px;
        padding: 20px;
    }
}
